<form action="/events/{{eventId}}/modifyevent" method="POST">
  <input type="text" value="{{name}}" name="name" required>
  <input type="date" value="{{date}}" name="date" required>
  <input type="time" value="{{startTime}}" name="startTime" required>
  <input type="time" value="{{endTime}}" name="endTime" required>
  <input type="text" value="{{description}}" name="description">
  <button type="submit">Modify event</button>
</form>