{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script> --}}

<h2>{{event.name}}</h2>
<h3>Start Time {{event.date}} {{event.startTime}}</h3>
<h3>End Time {{event.date}} {{event.endTime}}</h3>
<p>Description: {{event.description}}</p>
<p>Created by {{event.owner.username}}</p>

{{#if showDelete}}
<a href="/events/{{event._id}}/delete">Delete event</a>
{{/if}}

{{#if showModify}}
<a href="/events/{{event._id}}/modify">Modify event</a>
{{/if}}