{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script> --}}
<div class="container">
    <header>
        <ul class="nav-list flex">
            <li class="nav-left">
                <a href="/calendar" class="no-color-change">Calendar</a>
            </li>
            <div class="nav-right">
                <li class="nav-list-item"><a href="/users">Group</a></li>
                <li class="nav-list-item"><a href="/events">Event</a></li>
                <li class="nav-list-item"><a href="/profile">Profile</a></li>
            </div>
        </ul>
    </header>

    <div class="event_page_background">
        <div class="new_event_wrapper">
            <div class="event_wrapper">

                <h1 class="headline-title">Event Detail</h1>
                <div class="event_detail">
                <h2>{{event.name}}</h2>
                <h3>Start Time {{event.date}} {{event.startTime}}</h3>
                <h3>End Time {{event.date}} {{event.endTime}}</h3>
                <p>Description: {{event.description}}</p>
                <p>Created by {{event.owner.username}}</p>
                </div>

                <div class="delete_btn">

                    {{#if showDelete}}
                    <a href="/events/{{event._id}}/delete" class="edit_btn">Delete event</a>
                    {{/if}}

                    {{#if showModify}}
                    <a href="/events/{{event._id}}/modify" class="delate_btn_right edit_btn">Modify event</a>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>


    <footer>
        <p>- gastro calendar -<p></p>
    </footer>
</div>