<div class="container">
    <header>
        <ul class="nav-list flex">
            <li class="nav-left">
                <a href="/calendar" class="no-color-change">Calendar</a>
            </li>
            <div class="nav-right">
                <li class="nav-list-item"><a href="/users">Group</a></li>
                {{!-- <li class="nav-list-item"><a href="/events">Event</a></li> --}}
                <li class="nav-list-item"><a href="/profile">Profile</a></li>
            </div>
        </ul>
    </header>

    <div class="event_page_background">
        <div class="new_event_wrapper">
            <div class="event_wrapper">
                <h1 class="headline-title">Events List</h1>

                <div class="list_wrapper">
                    {{#if events}}
                    <ul>
                        {{#each events}}
                        <li class="event_list_li"><a href="/events/{{_id}}">{{date}} {{startTime}} {{endTime}} {{name}}</a></li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <h1 class="no_events"> - No events to display -</h1>
                    {{/if}}
                </div>
                {{!-- How to make below appear only for admins --}}
                {{#if user}}

                <div class="button-add">
                    <a href="/events/new">
                        <button class="btn_css">
                            Create a new event
                        </button>
                    </a>
                </div>
                {{/if}}
        </div>
    </div>
</div>
<footer>
    <p>- gastro calendar -</p>
</footer>
</div>