<div class="container">
    <header>
        <ul class="nav-list flex">
            <li class="nav-left">
                <a href="/calendar" class="no-color-change">{{workGroup}}Calendar</a>
            </li>
            <div class="nav-right">
                <li class="nav-list-item"><a href="/users">Group Members</a></li>
                <li class="nav-list-item"><a href="/events">Shifts & Events</a></li>
                {{!-- <li class="nav-list-item"><a href="/profile">Profile</a></li> --}}
                <li class="nav-list-item"><a href="/logout">Logout</a></li>

            </div>
        </ul>
    </header>
    <div class="user_page_background">
        <div class="user_wrapper">
            <h1 class="headline-title">Hello {{user.username}}</h1>
            {{#if user}}
            <div>
                {{!-- <h1 class="profile_message">
                    Hello {{user.username}}
                </h1> --}}
                {{user.email}} <br>
<<<<<<< HEAD
                <p class="myshift">
                My Shifts:
                {{#each myShifts}}
                created by{{this.owner.name}}
                Date: {{this.date}}
                Start Time: {{this.startTime}}
                End Time:{{this.endTime}}
                Description: {{this.description}}
                </p>
                <div class="edit_btn user_edit_btn">
                    <a href="/users/{{user._id}}/modify">Edit</a>
                </div>
=======
                My Shifts: <br>
                {{#each myShifts}}
                {{this.date}}
                {{this.startTime}}
                {{this.endTime}}
                {{this.description}}
>>>>>>> 12fac070919e62500835692991b31a1284414118
                {{/each}}
            </div>
            {{/if}}
            <div class="edit_btn">
                <a href="/users/{{user._id}}/modify">Edit</a>
            </div>
        </div>
    </div>


    {{!-- {{#if user}}
    <div class="user_page_background">
        <div class="user_wrapper">
            <div>
                <h1 class="profile_message">
                    Hello {{user.username}}
                </h1>
                {{user.email}} <br>
                My Shifts:
                {{#each myShifts}}
                created by{{this.owner.name}}
                Date: {{this.date}}
                Start Time: {{this.startTime}}
                End Time:{{this.endTime}}
                Description: {{this.description}}
                {{/each}}
            </div>
            <a href="/users/{{user._id}}/modify">Edit</a>
            {{/if}} --}}


    <footer>
        <p>- Gastro Calendar -</p>
    </footer>
</div>