<div class="container">
  <header>
    <ul class="nav-list flex">
      <li class="nav-left">
        <a href="/calendar" class="no-color-change">{{workGroup}}Calendar</a>
      </li>
      <div class="nav-right">
        <li class="nav-list-item"><a href="/users">Group Members</a></li>
        <li class="nav-list-item"><a href="/events">Shifts & Events</a></li>
        <li class="nav-list-item"><a href="/profile">Profile</a></li>
        {{!-- <li class="nav-list-item"><a href="/logout">Logout</a></li> --}}

      </div>
    </ul>
  </header>

  <div class="member_page_background">
    <div class="new_member_wrapper">
      <div class="member_wrapper">
        <h1 class="headline-title">Edit User</h1>

        <div class="list_wrapper list_wrapper_event">
          <form action="/users/modify/{{id}}" method="POST">

            <div class="group">
              <label for="name">Name:</label>
              <input type="text" value="{{name}}" name="name" id="name-member" required>
            </div>

            <div class="group">
              <label for="username">Username:</label>
              <input type="text" value="{{username}}" name="username" id="email-member" required>
            </div>

            <div class="group">
              <label for="email">Email:</label>
              <input type="text" value="{{email}}" name="email">
            </div>

            <div class="group">
              <label for="telephone">Phone Number</label>
              <input type="Number" placeholder="phone number" name="telephone">
            </div>

            <div class="group">
              <label for="role">Role:</label>
              <div class="edit_grup">
                <input type="text" value="{{role}}" name="role" required>
                {{!-- <input type="text" value="{{administration}}" name="administration"> --}}
              </div>
            </div>
        </div>

        <div class="button-add">
          <button type="submit" class="btn_css">Modify Member Data</button>
        </div>
        </form>


      </div>
    </div>
  </div>


  <footer>
    <p class="footer_white">- gastro calendar -<p></p>
  </footer>
</div>