<form action="/users/modify" method="POST">
  <label for="name">Name:</label>
  <input type="text" value="{{name}}" name="name" id="name-member" required>
  <label for="username">Username:</label>

  <input type="text" value="{{username}}" name="username" required>
  <label for="role">Role:</label>

  <input type="email" value="{{email}}" name="email">
  <input type="text" value="{{role}}" name="role" required>
  <input type="text" value="{{administration}}" name="administration">
  <button type="submit">Modify Member Data</button>
</form>