{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script> --}}
<div class="container">
    <header>
        <ul class="nav-list flex">
            <li class="nav-left">
                <a href="/calendar" class="no-color-change">Calendar</a>
            </li>
            <div class="nav-right">
                <li class="nav-list-item"><a href="/users">Group</a></li>
                <li class="nav-list-item"><a href="/events">Event</a></li>
                <li class="nav-list-item"><a href="/profile">Profile</a></li>
            </div>
        </ul>
    </header>

    <div class="member_page_background">
        <div class="new_member_wrapper">
            <div class="member_wrapper">
                <div class="user_detail">
                <h2 class="headline-title user-detail_bottom">{{name}}</h2>
                <h3 class="user-detail-top">Username: {{username}}</h3>
                <h3>Email: {{email}}</h3>
                {{#if showDelete}}
                <h3>Role: {{role}}</h3>
                <h3 class="delete_btn_bottom">Administration level: {{administration}}</h3>
                <div class="delete_btn">
                <a href="/users/{{userId}}/delete" class="edit_btn">Delete member</a>
                {{/if}}
                {{#if showModify}}
                <a href="/users/{{userId}}/modify" class="delate_btn_right edit_btn">Edit user information</a>
                {{/if}}
                </div>
                </div>

            </div>
        </div>
    </div>
    {{!-- <div class="member_wrapper">

        <h2>{{name}}</h2>
        <h3>Username: {{username}}</h3>
        <h3>Email: {{email}}</h3>
        {{#if showDelete}}
        <h3>Role: {{role}}</h3>
        <a href="/users/{{userId}}/delete">Delete member</a>
        {{/if}}
        {{#if showModify}}
        <a href="/users/{{userId}}/modify">Edit user information</a>
        {{/if}} --}}


    <footer>
        <p class="footer_white">- gastro calendar -<p></p>
    </footer>
</div>